# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Flask instance folder (contains db, config)
instance/

# SQLite
*.db
*.sqlite3

# macOS
.DS_Store

# IDE
.vscode/
.idea/
